{{ define "footer" }}

<footer class="footer">
    <div class="container">
        <p class="pull-left">&copy; My Company 2017</p>
    </div>
</footer>

<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.js"></script>
</body>
</html>

{{ end }}
